.callout-container {}
.features-container{}
.trips-container{}
.team-container{}
.reviews-container{}
.contact-container{}





/* Callout Section */

.callout-container {
 height: 100vh;
background:url("/images/girl-kayak-hero.png") no-repeat bottom right fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
position:relative;
 }
 
 .opaque-overlay {
   position: absolute;
  top: 0;
  left: 0;     
  height: 100%;
  width: 100%;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), transparent);   
 }
/* Navbar Section */

.navbar-container {
    position:absolute;
    top:0;
    left:0;
    padding-left:0;
    padding-right:0;
}

.navbar {
    margin-bottom:0;
    border:0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.25);
    z-index: 1; 
}
.navbar .navbar-toggler {
    border:0;
}
.navbar navbar-nav a {
    font-weight: bold;
}
.navbar-brand {
    font-weight:bold;
}  




/* Jumbotron Section */

.jumbotron {
background-color: transparent;
}
.jumbotron-header {
color:white;
font-weight: bold;
font-size: 3rem;
margin-bottom: 10px;
}
.jumbotron .lead {
font-size: 1.25rem;
font-weight: 500;
color:#fafafa;
}
.jumbotron small {
color: #fff;
font-size: 80%;
}

/* Buttons */

.btn-cta {
  background-color: #f1dc22;
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}
