 /* Global Styles  */
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

h1 {
	font-size: 4rem;
}

button,
label,
input {
	font-size: 1.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
}

h4,
h5 {
	font-size: 2rem;
}

a {
	color: white;
	text-decoration: none;
}

p {
	font-size: 1.5rem
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

.general-sub {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #fafafa;
}

.inline-block {
	display: inline-block;
	line-height: 1;
}

body {
	font-family: "Poppins", sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

header {
	background: #756f6f;
	padding: 1rem;
	min-height: 30vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

header h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Exo', sans-serif;
	font-size: 3.5rem;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}

header h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #edf40f;
	left: 0;
	right: 0;
	bottom: -9px;
}

/* Navbar Section */

.navbar-container {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	margin-bottom: 0;
	border: 0;
	padding: 5px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 1;
    overflow: hidden;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar .navbar-nav a {
	font-weight: 300;
	font-size: 1.5rem;
	color:#fafafa;
}

.navbar-brand {
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	margin-left: 2rem;
	font-size: 2.5rem;
}

.dropdown-menu a {
	color: #333;
	font-size: 1.5rem;
}

/* Callout Section */

/* Style details for callout img  from https://css-tricks.com/perfect-full-page-background-image/ */
/* Photo by Filip Mroz on Unsplash */
 .callout-container {
	height: 100vh;
	background: url("/assets/images/KG-with-leaves.png") no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	max-width: 100%
}

.opaque-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}



 /* Jumbotron Section */



.jumbotron {
background-color: transparent;
}

.jumbotron-header {
	color: white;
	font-weight: 700;
	font-size: 6rem;
	margin-bottom: 8rem;
}

.jumbotron-lead {
	font-size: 2rem;
	font-weight: 600;
	color: white;
	margin-top: 4rem;
}

/* Buttons */ 

/* jumbotron button */
.btn-cta { 
 background-color: #edf40f;
    font-weight: 600;
    border-radius: 2.3rem;
    width: 250px;
    font-size: 1.5rem;
    padding: 1rem;
}

 

.btn.primary:hover,
.btn.primary:active,
.btn.primary:focus,
.btn.primary:active:focus {
background-color:#93970f;
border-color:#93970f; 
} 

/* contact form button  */

.btn-contact{
 background-color:#edf40f;
  font-weight: 300;
  border-radius: 23px;
  width: 100px; 
  font-size: 15px;
}

.btn-modal {
 background-color:#edf40f;
 font-weight: 500;
border-radius:13px;
width: 200px;
font-size: 15px
}

/* Footer button  */

 button.btn-footer {
 background-color: #edf40f; 
  color: black;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 5px; 
 border-radius: 23px;
  cursor: pointer;
  width: 40%;
  }  
/* -----------------------------------Feature Card Section */

 /*Styling for the features/cards adapted from examples in Deved course on HTML & CSS on Youtube  */
 
 /* Icons used are from "Icon made by Pixel perfect from www.flaticon.com" */

.features-container {
 padding: 0;
 width: 100%
 } 

.cards {
  /* width: 90%;  */
  margin: auto;
  display: flex;
 flex: 1 1 30%; 
  min-height: 70vh;
  align-items: center;
  justify-content: space-around;
}

.card {
   width: 25rem; 
  text-align: center;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);   
}

.card h4,
.card p  {
padding: 1rem;
line-height: 1.8; 
}

.card-icon {
background: #edf40f;
}

.cards img {
max-width: 15%;
margin:2rem;   
}


/* -----------------------------------Team Section */

.team-container {
/* height: 100vh; */
border: 0;
padding:0;
}

team-member {
 margin-bottom: 3rem;
 text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.3);
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}


/* ----------------------------------- Gallery Images Section */

.gallery-container { 
  padding:0;
  border:0;
}

.gallery-item {

 max-width: 24rem;
margin-left: auto;
margin-right: auto;
position: relative;
display: block;
margin: 0 auto;
flex: 0 1 33%;
justify-content: space-between;
     }

  #gallery h5 { 
    font-weight: 600; 
    font-size:2rem;
    text-align: center;
    }
    #gallery h5,p {
    text-align: center; 
    }

/* -----------------Reviews Section */

 /*  CSS styling for review cards adapted from webseo on YT.com */

 
.review-container {
  padding: 0; 
  border:0; 
}

#reviews img{
  margin-top: -5rem;
  }

 #reviews .cards {
    display:flex;
    justify-content: space-between;
} 
  
   
 .card-body {
    border:1px solid #edf40f;
} 

/* -----------------------------------Contact Section */



 .bg-img {  
  background-image: url("/assets/images/contact-form-bkg2.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 

form.container {
  position: absolute;
  color:#fff; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px;
  max-width: 500px;
  padding: 16px;
  align-items: center;
  background-color: rgba(22, 29, 35, 0.3);
  border-radius: 20px;
  
}
#contact h2{
    color:#fff;
    font-size: 1.5rem;
}
#contact p {
    font-size: 1rem;
}



input[type="text"],
input[type="email"],
.textarea 
 {
  width: 60%; 
  padding: 1.5rem;
  margin: 5px 0 22px 0;
  border: none;
  background:#f1f1f1;
  font-size: 1.5rem
}

input[type="text"]:focus,
input[type="email"]:focus,
.textarea:focus {
background-color: #ddd; 
outline: none; 
}



 .btn-contact:hover {
  opacity: 1;
} 


/* -----------------------------------Footer Section */

footer {
  background-color: #525252;
  color: #fafafa;
  min-height: 120px; 
  margin: 0;
}


#footer-details {
  padding: 20px;
  background-color:#756f6f; 
}
.social-links {
  padding-bottom: 15px;
}
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0; 
  border-radius: 50%;
  font-size: 12px; 
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #525050;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webikit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
  background: #93970f;
}

/* Media Query Section */


 @media screen and (max-width: 932px) {  
  
     html {
    font-size: 45%;
  } 
 body {
overflow-x: hidden; 
 }
  }
  #logo { 
    padding: 2rem;
    text-align: center;
  }

  .bg-img{ 
      align-content: center;
  }
  overflow: 
  .form-wrapper {
    width: 80%;
  }
   footer {
    text-align: center;
 
} 



